@font-face {
    font-family: Comfortaa;
    src: url(assets/fonts/Comfortaa_Regular.ttf);
}

body {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    background-image: url('assets/images/dark-honeycomb.png');

}

.intro-container {
    margin-top: 17rem;
}

.ui.inverted.menu .dropdown.item:hover,
.ui.inverted.menu .link.item:hover,
.ui.inverted.menu a.item:hover,
.ui.link.inverted.menu .item:hover {
    background: #321046;
    color: #FFFFFF;
}

.ui.vertical.menu .active.item:hover,
.ui.menu .active.item:hover {
    background-color: #1DA1F2;
}

/* #connect-btn {
    background: #1b1c1e;
    color: #FFFFFF;
} */

#logo-nav {
    height: 45px;
    width: 71px;
}

.logo-headshot {
    border-radius: 50%;
    box-shadow: 0 0 0 1px gray,
        0 0 0 5px white,
        0 0 0 6px gray;
    display: inline-block;
    float: left;
    margin-right: 4rem;
}

.hero-welcome {
    font-size: 6rem;
    position: relative;
    color: white;
}

.hero-welcome2 {
    font-size: 4rem;
    position: relative;
    color: white;
}

#my-name {
    color: #5941A9;
    text-decoration-line: underline;
    text-decoration-color: #FFFFFF;
}

.project-section {
    height: 80%;
}

.project-title {
    margin-bottom: 2rem;
}

.project-title-header {
    font-size: 2rem;
    margin-left: 1rem;
}

.ui.basic.intro {
    height: 50%;
    position: relative;

}

.ui.padded.segment {
    height: 100%;
}

.card img {
    height: 13rem !important;
}

/* .portfolio-carousel {
    width: 90%;
    margin: 0px auto;
} */

/* .parallax-window {
    min-height: 800px;
    background: transparent;
} */